@{
    ViewData["Title"] = "AddDirector";
}
@model AddDirectorDTO
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddDirector" class="w-100">
                <div class="card">
                    <div class="card-header">
                        <h3 style="margin-left:10px">Yönetmen Ekle</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label asp-for="FirstName" class="form-label">Adı</label>
                            <input asp-for="FirstName" class="form-control" placeholder="Ad giriniz..." />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="LastName" class="form-label">Soyadı</label>
                            <input asp-for="LastName" class="form-control" placeholder="Soyad giriniz..." />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label asp-for="BirthDate" class="form-label">Doğum Tarihi</label>
                            <input asp-for="BirthDate" type="date" class="form-control"/>
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-end">
                            <button type="submit" class="btn btn-outline-primary mb-4">Ekle</button>
                            <a asp-controller="Directors" asp-action="Index" asp-area="Admin" class="btn btn-outline-warning mb-4">Geri Dön</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
